.input{
    display: flex;
    width: 90%;
    position: relative;
    align-items: center;
}
.input_box{
    width: 100%;
    border-radius: 50px;
    padding: 20px 30px;
    font-size: 25px;
    border: none;
    transition: 0.2s;
    box-shadow: inset 0 0 5px black;
}
.input_box:focus{
    box-shadow: 0 0 10px 1000px rgba(0,0,0,0.5);
    outline:none;
}
/* .input_box:hover{
    box-shadow: 0 0 10px 1000px rgba(0,0,0);
    outline:none;
} */
.input_submit{
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 12px;
    border-radius: 50px;
    right: 0px;
    border: none;
    font-size: 15px;
    background-color: #2f74c0;
    color: white;
    transition: 0.2s all;
    box-shadow: 0 0 10px black;
}
.todos{
display: flex;
justify-content: space-evenly;
width: auto;
flex-wrap: wrap;
width: 100%;
/* position: relative; */
}
.todo_single{
/* display: flex; */
width: 100%;
margin-top: 15px;
/* position: absolute; */
padding: 20px;
border-radius: 5px;
background-color: yellow;
}
.todo_sngle_text{
flex: 1;
padding: 5px;
border: none;
font-size: 20px;
}
@media (max-width:1200px){
    .todo_single{
        width: 40%;
    }
}
@media (max-width:700px){
    .input{
        width: 95%;
    }
    .todos{
        width: 95%;
    }
    .todo_single{
        width: 95%;
    }
}